*.swp
.DS_Store
/Ateliers/NetBeans/Exercice4/nbproject/private/
/Ateliers/NetBeans/Exercice4/build/
/Ateliers/NetBeans/Exercice5/nbproject/private/
/Ateliers/NetBeans/Exercice5/build/
/Ateliers/json-lib/Solutions/nbproject/private/
/Ateliers/json-lib/Solutions/build/